@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

main {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
}

section#cellphone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    height: 627px;
    width: 311px;
}

section#social-media {
    position: relative;
    width: 65px;
    position: relative;
}

section#cellphone > iframe {
    position: relative;
    height: 475px;
    width: 268px;
    border-radius: 1px;
    top: 80px;
    left: 21.7px;
}

a > img {
    border-radius: 50px;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-decoration: none;
}